body {
    margin: 0;
    padding: 0;
}

#cadre {
    width: 100vw;
    height: 100vh ;
    border: solid 20px grey;
    background-image: url('../Images/HORtrEA-space-back-grounds.jpg');
    background-size: cover;
}

table {
    cursor: crosshair;
    /*cursor: url(../Images/Bunny_3.png), auto;*/
}


/*.pigeons {
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;
}*/
/*img {*/
    /*animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;*/
    /*transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;*/
/*}*/

/*@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:1301px; top:0px;}
    50%  {left:1301px; top:641px;}
    75%  {left:0px; top:641px;}
    100% {left:0px; top:0px;}
}*/
